* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: rgba(22, 24, 35, 1);
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}
//---------------------- HOME 1:----------------------//
// HEADER
header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, #ffad3a, #f6808b);
  z-index: 9999;
  padding: 2rem 0;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #7552e5;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    span {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      user-select: none;
    }
  }
  .header__menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    list-style: none;
    a {
      display: block;
      color: #fff;
      padding: 7px 15px;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      transition: 0.2s all ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .header__list {
    display: flex;
    gap: 0 3rem;
    .menu-icon {
      cursor: pointer;
    }
    &-items {
      cursor: pointer;
    }
  }
}
#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .header__menu {
  transform: scale(1, 1);
}

ul.header__menu li a span {
  padding-right: 1rem;
}

ul.header__menu li a {
  position: relative;
}

ul.header__menu li a i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

// Responsive
@media only screen and (max-width: 63.9375em) {
  //HEADER
  .header__menu {
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    background-image: linear-gradient(to right, #ffad3a, #f6808b);
    a {
      margin-left: 12px;
    }
    li {
      margin-bottom: 10px;
    }
  }
}
