@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$clr: #a0a8b5;
body {
    font-family: 'Open Sans', sans-serif;
}

#home_3 {
    .header {
        position: relative;
        height: 90rem;
        background-color: #fff;
        box-shadow: none;
        margin-bottom: 5rem;
        // background-image: url('../../img/page3/banner.png');
        .header-bg {
            width: 100%;
            position: absolute;
            top: 5rem;
            // height: auto;
            z-index: 0;
        }

        // @media screen and (min-width: 739px) {
        //     .header-bg {
        //         background-color: #695fe6;
        // }
        // }
    }

    .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    // .container-fluid {
    //     padding-left: 0 !important;
    // }

    .row {
        --bs-gutter-x: 0 !important;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #aaa;
        background-color: #695fe6;
        z-index: 1000;
        padding: 1rem 0;

        .navbar-brand {
            position: relative;
            margin-left: 2.5rem;

            img {
                margin-right: 1.5rem;
            }
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 2rem;
                line-height: 1.5;
                font-weight: bold;
            }
        }

        .navbar-nav {
            li {
                margin-left: 3rem;
                padding: 5px 10px;
                font-weight: bold;
                color: #fff;
            }

            a.active {
                color: #d8d8d8 !important;
            }

            a:hover {
                color: #d8d8d8 !important;
            }
        }
        @media only screen and (max-width: 1024px) {
            .nav-item.d-block {
                display: none !important;
            }
        }
    }

    .banner {
        position: relative;
        padding-top: 8rem;
        z-index: 1;
        padding-left: 5px;

        .banner-title {
            color: #fff;
            line-height: 1.5;

            h2 {
                font-size: 5rem;
            }

            span {
                font-weight: bold;
            }

            .desc {
                font-size: 2rem;
            }

            button {
                width: 25rem;
                background-color: #44f2a1;
                height: 5rem;
                font-size: 1.6rem;
                color: #495be7;
                margin-top: 1.5rem;
                cursor: pointer;

                &:hover {
                    transition: all 0.3s ease-in-out;
                    opacity: 0.8;
                }
            }
        }
    }

    .main-pay,
    .worldwide {
        margin-bottom: 3rem;

        .pay-img {
            padding: 1.5rem 3rem;
            img {
                width: 100%;
            }
        }
        .pay-title {
            padding: 0 3rem;
            text-align: start;

            h2 {
                font-size: 3.6rem;
                font-weight: bold;
                line-height: 1.5;
                margin-bottom: 3rem;
            }

            p {
                font-size: 1.7rem;
                color: #888e99;
            }

            button {
                width: 20rem;
                background-color: #4a44f2;
                height: 5rem;
                font-size: 1.6rem;
                color: #fff;
                margin-top: 1.5rem;
                cursor: pointer;

                &:hover {
                    transition: all 0.3s ease-in-out;
                    opacity: 0.8;
                }
            }
        }
    }

    .main-card {
        position: relative;
        background-color: #fff;
        margin: 15rem auto;
        padding: 0 7rem;

        .banner_3 {
            position: absolute;
            top: -15rem;
            left: 0;
            width: 20%;
            z-index: 0;
        }

        .main-card-title {
            margin-bottom: 5rem;
            text-align: center;
            z-index: 1;

            h2 {
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 2rem;
            }

            p {
                display: block;
                margin: 0 auto;
                font-size: 1.6rem;
                line-height: 1.5;
                margin-bottom: 0;
                color: #6a727f;
                text-align: center;
            }
        }

        .main-card-list {
            margin: 0 !important;
        }

        .card {
            border: none;
            cursor: pointer;
            transition: all 0.7s ease-in-out;
        }

        .card:hover {
            background-color: #495be7;

            h2 {
                color: #fff;
            }

            p {
                color: #cdccef;
            }
        }

        .main-card-item {
            background-color: #fff;
            border-radius: 4px;
            box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
            // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
            height: 35rem;
            text-align: center;
            margin-right: 1.5rem;

            // .main-card-item:not(:last-child) {
            //     margin-right: 1rem;
            //     width: 90%;
            // }

            img {
                height: 5rem;
                margin: 5rem 0;
            }

            h2 {
                height: 5rem;
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 10px;
                color: #393e46;
            }

            p {
                height: 10rem;
                font-size: 1.6rem;
                line-height: 1.5;
                margin-bottom: 0;
                padding: 0 4rem;
                color: #747b88;
            }
        }
    }

    .touch {
        position: relative;
        background-color: #f8f8f9;
        margin: 30rem 0;
        height: 80rem;

        .touch-main {
            position: absolute;
            top: -25rem;
            left: 0;
            right: 0;
            margin: 0 4rem;
        }

        .touch-img {
            img {
                text-align: center;
                width: 100%;
                border-radius: 4px;
                filter: brightness(0.5);
                transition: all 0.7s ease-in-out;
                cursor: pointer;
            }

            img:hover {
                opacity: 0.8;
            }
        }
        .touch-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 7rem;
                cursor: pointer;
                margin-top: 5rem;
            }

            img:hover {
                opacity: 0.7;
            }

            p {
                font-size: 3rem;
                color: #fff;
                // text-align: center;
                font-weight: bold;
                margin: 5rem -10rem;
            }
        }
    }

    .business {
        position: relative;
        margin-bottom: 5rem;
        height: 25rem;
        .business-main {
            position: absolute;
            top: -60rem;
        }
        .business-up {
            margin-bottom: 30rem;
            .business-img {
                position: relative;

                .banner5 {
                    position: absolute;
                    top: -11rem;
                    left: 11rem;
                    width: 54%;
                    z-index: 2;
                }
                .banner6 {
                    position: absolute;
                    top: 0;
                    left: 2rem;
                    z-index: 1;
                    width: 80%;
                }
                .icon4 {
                    position: absolute;
                    top: -5rem;
                    left: 5rem;
                    width: 65%;
                }
            }

            .business-text {
                color: #393e46;
                // max-width: 50rem;

                img {
                    width: 3rem;
                    margin: 1rem 0;
                }

                p {
                    font-size: 2.4rem;
                    margin: 2rem 0;
                }

                span {
                    font-weight: bold;
                }

                .name {
                    color: #6a727f;
                    font-size: 1.6rem;
                    font-weight: bold;
                }
            }
        }
        .business-center {
            margin: 3rem 0;
            h3 {
                font-size: 8rem;
                color: #4a44f2;
                font-weight: bold;
                padding: 0 6rem;
            }

            p {
                font-size: 3rem;
                font-weight: bold;
                line-height: 1.5;
                margin-left: -5rem;
            }
        }
        .business-down {
            div {
                img {
                    width: 13rem;
                }
            }
        }
    }

    .contact {
        background-color: #7c4be4;
        background-image: url('../../img/page3/background.jpg');
        background-size: cover;
        background-position: center;
        padding: 18rem 0;

        .contact-text {
            text-align: center;
            color: #fff;

            h2 {
                font-size: 4rem;
                margin-bottom: 3rem;
                font-weight: bold;
                line-height: 1.5;
                letter-spacing: 2px;
            }

            p {
                font-size: 1.4rem;
                margin-bottom: 2rem;
                // padding: 0 35rem;
            }
        }

        .contact-form {
            padding-top: 2rem;
            margin: 0 10px;

            #email {
                width: 30rem;
                padding: 1em;
                border-radius: 4px;
                border: 2px solid #fff;
                background-color: #7c4be4;
                margin-right: 5px;
                color: #fff;
                outline-color: #00bfff;
                height: 5rem;

                &::placeholder {
                    color: #fff;
                }
            }

            button {
                height: 5rem;
                padding: 0 2rem;
                background-color: #00bfff;
                color: #1d173c;
                border: none;
                border-radius: 5px;
                font-size: 1.6rem;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .contact-icon {
            position: relative;

            .icon6 {
                position: absolute;
                top: -25rem;
                left: 15rem;
                width: 3.5rem;
            }
            .icon7 {
                position: absolute;
                top: -3rem;
                left: 50%;
                width: 2rem;
            }
            .icon7_1 {
                position: absolute;
                top: -35rem;
                left: 25rem;
                width: 2rem;
            }
            .icon8 {
                position: absolute;
                top: -28rem;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10rem;
            }
            .icon9,
            .icon10 {
                position: absolute;
                width: 18rem;
                bottom: -23rem;
                right: 5rem;
                z-index: 1;
            }
            .icon10 {
                width: 13rem;
                right: 0;
            }
        }
    }

    .footer_content {
        background-color: #282f3a;

        .footer-title {
            position: relative;
            margin-bottom: 3rem;

            img {
                margin-right: 1.5rem;
            }
            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 2rem;
                line-height: 1.5;
                color: #fff;
            }
        }

        .footer-desc p {
            color: $clr;
            width: 90%;
            font-size: 1.6rem;
        }

        .footer-icon {
            margin-top: 3rem;
            a {
                color: $clr;
                padding-right: 3rem;
            }

            a:hover {
                color: #fff;
            }
        }

        .use_link,
        .contact_us {
            h3 {
                color: #fff;
                padding: 1.2rem 0 0 3rem;
            }

            ul {
                padding-left: 0;
            }

            li {
                padding: 2rem 0 0 3rem;
            }

            a {
                color: $clr;
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                color: #fff;
            }
        }
    }

    footer {
        background-color: #252b36;
        position: relative;
        .footer_content {
            padding: 10rem 0 !important;
        }

        .footer-left {
            p {
                color: $clr;
            }

            a {
                color: #fff;
            }
        }

        .footer-right {
            cursor: pointer;
            transition: all 0.7s ease-in-out;
            
            img {
                position: absolute;
            right: 20%;
            transform: translateY(-50%);
                width: 5rem;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .banner {
        p {
            padding-bottom: 0 !important;
        }
    }
    .banner-title {
        left: 6rem;
    }

    .banner-title h2 {
        font-size: 3rem !important;
        letter-spacing: 2px;
    }

    .business-img {

                .banner5 {
                    position: absolute;
                    top: -8.6rem !important;
                    left: 8rem !important;
                    width: 54% !important;
                    z-index: 2;
                }
        }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .header-bg {
            height: 60rem;
        }
    .banner {
        
        p {
            padding-bottom: 0 !important;
            font-size: 2.4rem !important;
        }
    }

    .banner-title h2 {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .business-img {

                .banner5 {
                    position: absolute;
                    top: -6.5rem !important;
                    left: 7rem !important;
                    width: 54% !important;
                    z-index: 2;
                }
        }
}

@media only screen and (max-width: 767.5px) {
    #home_3 {
        .header {
            max-height: 60rem;
        }
        .header-bg {
            height: 50rem;
        }

        .banner {
            min-height: 20rem;
            max-height: 30rem;
            // margin: 1rem 0;

            p {
                padding-bottom: 0 !important;
                font-size: inherit !important;
            }
        }

        .banner-title {
            left: 3rem;
            margin-bottom: 4rem;

            h2 {
                font-size: 2.5rem !important;
                letter-spacing: 0.5px;
            }

            button {
                width: 15rem !important;
            }

            p {
                font-size: 1.8rem !important;
            }
        }

        .img-fluid {
            width: 100%;
        }

        .main-pay {
            .row {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
            .pay-title {
                margin: 5rem 0;

                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }

        .main-card {
            padding: 0 2rem;
            .banner_3 {
                width: 40%;
            }

            .main-card-title {
                // z-index: 1000;
                margin-top: 15px;
                h2 {
                    padding: 0 50px;
                    font-size: 2.5rem;
                }
            }
        }

        .worldwide {
            .row {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
            .pay-title {
                margin: 5rem 0;

                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.6rem;
                }
            }
        }

        .touch {
            .touch-main {
                top: -10%;
                margin: 0;
                padding: 1rem 0;
            }

            .touch-img img {
                border-radius: 0;
                height: 15rem;
            }

            .touch-text {
                text-align: center;

                img {
                    width: 3rem;
                    margin-top: 1rem;
                }

                p {
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }
            }
        }

        .touch-main {
            .touch-img {
                margin: 0 3rem;
            }
        }
        
        .contact {
            .contact-form {
            flex-wrap: wrap;
            input {
                margin-bottom: 1.5rem;
            }
        }
        .contact-icon {
            .icon7 {
                top: -10rem;
            }
        }
        }
        // .business {
        //     margin-bottom: 8rem !important;
        // }

        .business-main {
            top: -80rem !important;
        }
        .business-up {
            margin-bottom: 3rem;
            .row {
                display: flex;
                flex-direction: column-reverse;
            }
            .business-img {
                position: relative;
                margin-top: 5rem;
                margin-bottom: 5rem;

                .banner5 {
                    top: -5.7rem !important;
                    left: 6rem !important;
                    width: 17rem !important;
                }
                .banner6 {
                    position: absolute;
                    top: -15rem;
                    left: 0;
                    z-index: 1;
                    width: 24rem;
                    width: 25rem !important;
                }
                .icon4 {
                    position: absolute;
                    top: -19rem;
                    left: -2rem;
                    width: 24rem;
                    width: 45% !important;
                }
            }

            .business-text {
                img {
                    width: 2rem;
                }

                p {
                    font-size: 1.5rem;
                }

                .name {
                    font-size: 1.3rem;
                }
            }
        }

        .business-down {
            img {
                display: block;
                width: 9rem !important;
                padding: 1rem;
            }
        }
        .business-center {
            h3 {
                font-size: 6.5rem !important;
                padding: 0 !important;
                margin-right: 1.5rem;
            }

            p {
                font-size: 1.6rem !important;
                padding-left: 0 !important;
                margin-left: 0 !important;
            }
        }

        .footer-right {
            position: absolute;
            img {
                right: 5% !important;
            }
        }
    }
}
