* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.app {
    width: 100%;
}

.header-pages6 {
    // background-image: url(/assets/img/pages-6/banner1.png);
    height: 89rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;




    .header-pages6--list {
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        top: 0;
        left: 0;
        z-index: 1;

        a {
            color: white;
        }
    }

    .sub-menu--list {
        display: flex;
        gap: 5rem;
    }

    .line {
        height: 1px;
        width: 100%;
        background: rgb(221, 219, 219);
    }

    .sub--active__list {
        display: flex;
        gap: 5rem;

        a {
            color: white;
        }
    }
}

//banner
.banner {
    padding-top: 200px;
    padding-left: 300px;

    h1 {
        font-size: 100px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h4 {
        font-size: 35px;
        // padding-top: 10px;
    }

    p {}
}

.bgr{
    background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/338892350_979176323242910_5398738452795687211_n.png?stp=dst-png_p206x206&_nc_cat=108&ccb=1-7&_nc_sid=aee45a&_nc_ohc=cxOry_h2fOEAX_6UhGw&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdTEMjAuvmkx578iC_-iHdLCToc_MrlXBQUMIWGHRYRskg&oe=6455BD17');
    // padding-left: 350px;
    background-repeat: no-repeat;
    background-size: 100%;
}
// about
.main {
  
    height: 4740px;


    .about {
        // background-image: url(/assets/img/pages-6/banner2.png);
        // font-size: 9000px;
        background-repeat: no-repeat;
       
        // background-size: 100%;

        // background: #3a454d;
        .listbox {
            display: flex;
            gap: 5rem;
            padding-top: 150px;
            // padding-left: 300px;
            text-align: center;
            // margin-left: 30px;
            padding: 150px 300px;
            position: absolute;
            margin-top: -50rem;
        }

        .listbox--item {
            position: relative;
            line-height: 30px;
            height: 38rem;
            width: 33rem;
            background: #2b3139;
            text-align: center;
            border-radius: 10px;
            padding-top: 44px;

            h2,
            p {
                color: white;
            }

            h2 {
                padding-top: 30px;
            }

            p {
                font-size: 13px;
                opacity: .5;
                padding: 20px 70px;
            }
        }

    }

    .aboutus {
        // padding-top: 17rem;
        display: flex;
        background: #222831;
        padding-top: 20rem;
    margin-top: 60rem;
        .title--aboutus {
            margin-top: 100px;
            padding-left: 30rem;

            h3 {
                color: #a14250;
                font-weight: bold;
            }

            h2 {
                color: white;
                font-weight: bold;
                font-size: 28px;
                margin-top: 40px;
                line-height: 50px;

            }

            p {
                color: white;
                margin-top: 40px;
                line-height: 30px;
                opacity: 0.5;
            }

            .btn {
                padding: 12px 62px;
                border: none;
                outline: none;
                background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/337048214_3084725365005944_2641820954475416525_n.png?_nc_cat=109&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UMzS4WO6X8UAX9INz80&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSvOLBA6CIGF7UB7p7Yin1VwjdK1XbxgnHcIY4XMFbwqw&oe=644D0D8F');
                margin-top: 50px;
                background-repeat: no-repeat;
                border-radius: 10px;
                font-size: 17px;
                font-weight: bold;
                color: white;
                padding-bottom: 20px;
            }

            .btn:hover {
                color: black;
                background: white;
                transition: all 0.6s;
            }
        }

        .aboutus--img {
            .phone {
                overflow: hidden;

                img {
                    object-fit: contain;
                    background-size: 300px;
                }
            }
        }
    }

}

/* WORKS*/
.work-main {
    text-align: center;
    display: block;
    background: #222831;
    .title-work {
        height: 170px;
        width: 500px;
        text-align: center;
        // margin-top: 20rem;
        margin: 0px auto;
        padding: 90px 0px;
    }

    h3 {
        color: #a14250;
        font-weight: bold;
    }

    h2 {
        font-weight: bold;
        color: #fff;
        margin-top: 30px;
        font-size: 28px;
    }

    p {
        margin-top: 30px;
        color: #fff;
        opacity: 0.5;
        padding: 0px 70px;
    }

    .btn-work {
        // .btn {
        padding: 12px 62px;
        border: none;
        outline: none;
        background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/337048214_3084725365005944_2641820954475416525_n.png?_nc_cat=109&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UMzS4WO6X8UAX9INz80&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSvOLBA6CIGF7UB7p7Yin1VwjdK1XbxgnHcIY4XMFbwqw&oe=644D0D8F');
        margin-top: 50px;
        background-repeat: no-repeat;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        color: white;
        padding-bottom: 20px;
    }

    .btn-work:hover {
        transition: 0.6s;
        color: black;
        background: white;
    }

    // }
}

.container {
    // display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.grid--container {
    margin-left: 11rem;
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 1fr));
    grid-template-rows: repeat(3, 15rem);
    grid-gap: 1rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 28px;
        cursor: pointer;
        transition: transform .2s;
    }


}

.item1,
.item2,
.item3,
.item4 {
    // position: relative;
    overflow: hidden;
    object-fit: cover;

    :hover {
        transform: scale(1.5);

    }
}

.grid {
    color: #fff;
    padding: 1.5rem;
    border-radius: 28px;
    //    position: absolute;
}



.item1 {
    grid-column: 1 / span 2;
    grid-row: 1/ span 2;

}

.item2 {
    grid-column: 3 / span 2;
    grid-row: 1/ span 3;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 3/ span 3;

}

.item4 {
    grid-column: 3 / span 2;
    grid-row: 4/ span 2;
}

.experience {
    display: flex;
    gap: 5rem;
    padding: 60px 0px;
    // margin-top: 100px;
    background: #222831;
    .image-experience {
        margin-left: 35rem;
    }

    .title--experience {
        padding-right: 40rem;
        line-height: 30px;

        h3 {
            color: #a14250;
            font-weight: bold;
        }
    }

    h2 {
        margin-top: 50px;
        color: white;
        font-weight: bold;
        line-height: 50px;
        font-size: 28px;

    }

    p {
        margin-top: 40px;
        color: #fff;
        opacity: 0.5;
    }
}

/*parmer*/
.parner {
    text-align: center;
    width: 100%;
    background: #222831;
    // display: grid;
    // grid-template-columns: repeat(4, minmax(10rem, 1fr));
    // grid-template-rows: repeat(2, 15rem);
    h3 {
        color: #a14250;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 100px;
    }

    .list--box {
        height: 300px;
        width: 70%;
        display: flex;
        // gap: 2rem;
        margin-left: 25rem;

        .list--box__item {
            padding-top: 20px;
        }
    }
}

/*testimonials*/


.testimonials {
    text-align: center;
    background: #222831;
    padding-top: 30rem;
    padding-bottom: 400px;
    // width: 300px;
    margin-top: -10px;
    .title-testimonials {
        // width: 300px;
        // margin-left: 70rem;
    }

    h3 {
        color: #a14250;
        font-weight: bold;
        text-transform: uppercase;
    }

    h2 {
        // font-weight: bold;
        color: white;
        margin-top: 30px;
    }

    p {
        color: white;
        margin-top: 30px;
        opacity: 0.5;
        // height: 20px;
        // width: 300px;
        // text-align: center;
        // padding-left: 40rem;
        padding-bottom: 30px;
    }
}

.box-testimonials {
    .testimonials__list {
        display: flex;
        // text-align: center;
        // gap: 10rem;
        // margin-right: 10rem;
        // .testimonials__item::before:first-child(1){
        //     margin: 0px 10rem;

        // }
        gap: 5rem;
    
      
    }
    .testimonials__item{
       
    }
    .box-conten {
        scroll-snap-align: center;
         
        box-shadow: 5px 5px 5px;
        background-repeat: no-repeat;

        //     background-size: 700px 1000px;
        h2 {
            opacity: 0.5;

            :hover {
                color: #eeecec;
            }
        }

    }

    .testimonials__item--active {}
}

/*let-started*/

.let-started {
    // margin-left: 30px;
    background: #222831;
    text-align: center;
    // height: 400px;
    // width: 300px;
    // margin-right: 80rem;
    border-radius: 50px;
    // margin-left: 40rem;
    background-image: url('/assets/img/pages-6/bgrsubmit.png');
    background-repeat: no-repeat;
    background-size:100%;
    width: 50%;
    margin-left: 41rem;
    position: relative;
    margin-top: -20rem;


    // padding-left: 40px;
    // text-align: center;
    h2 {
        padding-top: 100px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        color: #fff;
    }
    .title{
        position: absolute;
    }
    .btn-let-started {
        margin: 100px 0;
        padding: 10px 40px;
        border: none;
        outline: none;
        background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/337048214_3084725365005944_2641820954475416525_n.png?_nc_cat=109&ccb=1-7&_nc_sid=aee45a&_nc_ohc=UMzS4WO6X8UAX9INz80&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdSvOLBA6CIGF7UB7p7Yin1VwjdK1XbxgnHcIY4XMFbwqw&oe=644D0D8F');
        margin-top: 50px;
        background-repeat: no-repeat;
        border-radius: 10px;
        font-size: 17px;
        font-weight: bold;
        color: white;
        padding-bottom: 20px;
        background-size: 100%;
    }

    .btn-let-started:hover {
        color: black;
        transition: all 0.8s;
        background: white;
    }
}

.bgr-let {
    // display: block;
    // background-image: url('/assets/img/pages-6/bgrsubmit.png');
    // background-repeat: no-repeat;
    // background-size: 50% 100%;
}

.title-let {
    // position: absolute;
}


.footer {
    background: #282f3a;
    height: 800px;
    padding-top: 30rem;
    color: #fff;
    margin-top: -49rem;

    h2 {
        padding-bottom: 40px;
    }

    p {
        color: #928d8d;

        :hover {
            color: white;
        }
    }

    .footer--list {
        display: flex;
        width: 55%;
        margin-left: 37rem;
    }

    .footer--list__item1 {
        flex: 2;
        width: 25%;

        p {
            line-height: 30px;
            color: #928d8d;
        }

        :hover {
            color: white;
        }
    }

    .footer--list__item2 {
        padding-left: 30px;
        flex: 1;
        padding-right: 90px;

        :hover {
            color: white;
        }

        p {
            padding-bottom: 30px;
            color: #928d8d;
        }

    }

    .footer--list__item3 {
        flex: 2;
        width: 25%;

        .item--phonenumber {
            padding-bottom: 50px;
            color: #928d8d;

            :hover {
                color: white;
            }
        }

        .item--email {
            padding-bottom: 50px;
            color: #928d8d;

            :hover {
                color: white;
            }
        }

        .item--Address {
            padding-bottom: 50px;
            color: #928d8d;

            :hover {
                color: white;
            }
        }
    }
}

.copyright {
    height: 100px;
    width: 100%;
    background: #252b36;
    position: absolute;

    .title-copyright {
        line-height: 100px;
        padding-left: 20rem;
    }

    .logo-copyright {
        position: relative;

        // display: block;
        background-size: 100%;
        // background-image: url(/assets/img/pages-6/btn-footer.png);
    }

    .logo-copyright img {
        position: absolute;
        top: -16rem;
        right: 20%;
        width: 85px;
    border-radius: 10px;
    }
}

// RESPONSIVE
/* Mobile and Tablet (width < 1024px)*/
@media only screen and (max-width: 63.9375em) {

    //HEADER
    .sub-menu--list {
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        background-color: #7552e5;

        a {
            margin-left: 12px;
        }

        li {
            margin-bottom: 10px;
        }
      
    }
    .banner {
        padding-top: 37px;
        padding-left: 30px;
        font-size: 30px;
        h1{
            font-size: 40px;
        }
        h4{
            font-size: 15px;
            padding: none;
        }
        p{
            padding-bottom: 30rem;
            font-size: 10px;
        }
    }
    .about{
        margin-top: -470px;
        background-size: 100%;
    }
    .listbox{
        margin-left: -200px;
    }
    .listbox--item{
        padding-left: 10px;
        width: 50%;
        flex-direction: column;
    }
    .sub--active__list {
        display: block;
        cursor: pointer;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    .banner {
        padding-top: 20px;
        padding-left: 10px;
        font-size: 30px;
        h1{
            font-size: 20px;
        }
        h4{
            font-size: 10px;
        }
        p{
            padding-bottom: 30rem;
        }
    }
    .listbox{
        .listbox--item{
            
        }
    }
   
}
.aboutus{
    margin-top: 100rem;
}
.testimonials{
    // padding-top: 60rem;
  }