* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  color: rgba(22, 24, 35, 1);
  direction: ltr;
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
}
//---------------------- HOME 1:----------------------//
.home__1 {
  width: 100%;
}
// HEADER
header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(to right, #ffad3a, #f6808b);
  z-index: 9999;
  padding: 2rem 0;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #7552e5;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
  }
  .header__logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    span {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      user-select: none;
    }
  }
  .header__menus {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    list-style: none;
    a {
      display: block;
      color: #fff;
      padding: 7px 15px;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      transition: 0.2s all ease-in-out;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .header__list {
    display: flex;
    gap: 0 3rem;
    .menu-icon {
      cursor: pointer;
    }
    &-items {
      cursor: pointer;
    }
  }
}
#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .header__menus {
  transform: scale(1, 1);
}

ul.header__menus li a span {
  padding-right: 1rem;
}

ul.header__menus li a {
  position: relative;
}

ul.header__menus li a i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

// BANNER:
.banner {
  margin-bottom: 2rem;
  position: relative;
  &__img {
    width: 100%;
    height: 96.4rem;
    margin-left: -30rem;
  }

  &__text {
    position: absolute;
    top: 14%;
    left: 13%;
  }

  .banner__text p:first-of-type {
    color: white;
    font-size: 6rem;
    font-weight: 200;
  }

  .banner__text p:nth-child(2) {
    color: white;
    font-size: 6rem;
    font-weight: 200;
  }

  .bold-text {
    font-weight: bold;
  }

  .banner__text1 {
    margin-bottom: -2.2rem;
  }

  .banner__desc {
    margin-bottom: 4.2rem;
  }

  .btn__custom {
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    color: white;
    background-color: #2d63d1;
  }
}

.banner__desc {
  max-width: 37rem;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 3rem;
}

// Offer Multiple:
.offer {
  display: block;
  width: 100%;
  height: 70rem;
  // background-color: #ccc;
  background-color: #fff;
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // left
    &--left {
      width: 50%;
      margin-left: 20rem;
      margin-top: 20rem;
    }
    &--title {
      h1 {
        max-width: 50%;
        margin-bottom: 5.5rem;
      }
    }
    &--desc {
      max-width: 68%;
      margin-bottom: 7rem;
    }
    &--btn a {
      color: #fff;
      border-radius: 4px;
      padding: 1.5rem 4rem;
      background-color: #2d63d1;
    }

    //right:
    &--right {
      width: 50%;
      margin-top: 12rem;
      img {
        width: 80%;
        height: 100%;
      }
    }
  }
}
// Responsive

// Tablet:
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  //HEADER
  .header__menus {
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    background-image: linear-gradient(to right, #ffad3a, #f6808b);
    a {
      margin-left: 12px;
    }
    li {
      margin-bottom: 10px;
    }
  }

  // Banner:
  .banner {
    &__img {
      width: 140%;
      height: 100%;
      background-position: right;
    }

    .banner__text p:first-of-type {
      margin-bottom: -4px;
    }

    .banner__text p:nth-child(2) {
    }

    .banner__desc {
      font-size: 1.3rem !important;
    }

    .btn__custom {
      padding: 0.8rem 1.4rem;
      border-radius: 0.6rem;
      color: #fff;
      background-color: #2d63d1;
      font-size: 1.4rem;
    }
  }
}

// Mobile
@media only screen and (max-width: 46.1875em) {
  //HEADER
  .header__menus {
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    background-image: linear-gradient(to right, #ffad3a, #f6808b);
    a {
      margin-left: 12px;
    }
    li {
      margin-bottom: 10px;
    }
  }

  // Banner
  .banner {
    &__img {
      width: 180%;
      height: 100%;
      background-position: right;
    }

    .banner__text {
      position: absolute;
      top: -14%;
      left: 3%;
    }

    .banner__text p:first-of-type {
      margin-bottom: -2px;
      font-size: 2rem !important;
    }

    .banner__text p:nth-child(2) {
      font-size: 2rem !important;
    }

    .banner__desc {
      font-size: 1.3rem !important;
    }

    .btn__custom {
      padding: 0.6rem 1rem;
      border-radius: 0.6rem;
      color: #fff;
      background-color: #2d63d1;
      font-size: 1.2rem;
    }
  }
}
